/* Navigation Bar */
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 80px 10px 80px;
    background-color: rgb(0, 4, 12);
  }
  
  .header img {
    width: 280px;
  }
  
  .left-links, .right-links {
    display: flex;
    gap: 40px;
    list-style: none;
  }
  
  .header_buttons {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Calibri', serif;
    transition: color;
  }
  
  .header_buttons:hover {
    color: #2974ab
  }
  
/* Title Section */
.title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15% 0;
  background-image: url(Images/Homepage/London-Skyline-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.title h1 {
  width: 50%;
  font-family: 'Playfair Display', serif;
  text-align: left;
  position: relative;
  z-index: 2;
  padding-left: 0px;
  padding-right: 30%;
  margin: 0 auto 80px;
  font-weight: bold;
  font-size: 80px;
  color: #ffffff;
}

.title h1::after {
  content: '';
  display: block;
  align-items: center;
  width: 25%;
  height: 2px;
  background-color: rgb(200, 200, 200);
  margin: 30px 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 1, 3, 0.5);
  z-index: 1;
}
  
  /* Body Section */
  .body {
    display: flex;
  }
  
  h1  {
    font-family: 'Playfair Display', serif;
    color: rgb(24, 73, 96);
    font-size: 50px;
    font-weight: bold;
  }
  
  h2, h3, p, li {
    font-family: Calibri;
    color: rgb(24, 73, 96);
  }
  
  h2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }
  
  p, li {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
  }
  
  li {
    list-style-type: none;
  }
  
  /* Second Section */
  .second_section {
    margin: 0px;
    display: flex;
    background-color: #f0f0f0;
    position: relative;
}
  
  .second_section h2 {
    margin: 20px auto 0;
    font-weight: bold;
    font-size: 20px;
    color: rgb(24, 73, 96);
    text-transform: uppercase;
  }
  
  .second_section h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(200, 200, 200);
    margin: 30px 0;
  }
  
  /* About Us */
  .us   {
    margin: 50px 20px 50px 80px;
    padding: 40px;
    width: calc(50% - 40px);
  }
  
  .what {
    margin: 50px 80px 50px 20px;
    padding: 40px;
    width: calc(50% - 40px);
  }
  
  .us_button {
    background-color: #2975ab;
    border: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px;
    margin-top: 30px;
    transition: transform 0.3s ease;
  }
  
  .us_button:hover {
    transform: scale(1);
    border: 1.5px solid rgb(24, 73, 96);
    background-color: rgba(253, 255, 255, 0.605);
    font-weight: normal;
    color: rgb(24, 73, 96);
  }  
  
  /* Services Section */
  .services_section {
    background-color: #f0f0f0;
    padding: 60px 20px 20px 20px;
    position: relative;
    z-index: -2;
}

.services_section::before {
    content: "";
    position: absolute;
    width: 98%;
    height: 1px;
    background-color: rgb(200, 200, 200);
    top: 0;
    transform: translateY(-50%);
    z-index: -1;
}
  
  .services_section h2, .services_section h3 {
    text-align: left;
    position: relative;
    font-weight: bold;
    color: rgb(24, 73, 96);
    padding-left: 80px;
    padding-right: 80px;
    width: 50%;
  }
  
  .services_section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    margin: 0;
  }
  
  .services_section h3 {
    font-family: Calibri;
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* Third Section */
  .third_section {
    display: flex;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 100%;
    margin: 0 80 40 80px;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
  
  /* Style for each card */
  .card {
    flex: 1;
    padding: 20 40 20 40px;
    border: 0px solid #ccc;
    background-color: none;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}
  
  .card_title {
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    color: rgb(24, 73, 96);
    text-transform: uppercase;
    transition: color 0.3s;
  }
  
  .card_title::before {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: rgb(200, 200, 200);
    margin: 10px 0;
  }
  
  .card_content {
    font-family: Calibri;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    transition: color 0.3s;
    padding: 20 0 50 0px;
  }
  
  /* Hover effect */
  .card1:hover {
    transform: scale(1);
    background-color: #ffffffc2;
    cursor: pointer;
    pointer-events: auto;
  }
  
  
 /* News & views */
 .news_views {
    position: relative;
    background-image: url(Images/Services/London-Skyline-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 20px 80px 20px;
    display: flex;
    justify-content: space-between;
}

.news_views::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 1, 3, 0.5);
}

.left-content,
.right-content {
    width: 50%;
    margin: 40px 0;
    position: relative;
    z-index: 1;
}

.left-content h2,
.left-content h3 {
    text-align: left;
    position: relative;
    line-height: 1;
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
}

.left-content h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 75px;
    margin: 20px 0 0 0;
}

.left-content h3 {
    font-family: Calibri;
    font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
}

.right-content {
    width: 50%;
    margin: 0px 80px 0px 80px;
    z-index: 2;
}

.card2:hover {
  transform: scale(1);
  cursor: pointer;
  pointer-events: auto;
}

.card a {
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: color 0.3s;
}

.card a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
    margin: 20px 0;
}

.card-button {
    background-color: #3498db00;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: lighter;
    font-family: Calibri;
    cursor: pointer;
    margin-left: auto;
}

.card-button:hover {
  transform: scale(1);
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

 /* Contact Section */
 .contact {
    background-color: #f0f0f0;
    padding: 120px 80px 120px 80px
  }

 .contact h1 { 
    text-align: center;
    padding: 20px
}

.contact button {
    display: block;
    margin: 0 auto;
    background-color: #2975ab;
    border: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px;
}

.contact button:hover {
    transform: scale(1);
    border: 1.5px solid rgb(24, 73, 96);
    background-color: rgba(253, 255, 255, 0.605);
    font-weight: normal;
    color: rgb(24, 73, 96);
  } 

 /* Footer */
 footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 80px 80px 40px 80px;
  background-color: rgb(0, 4, 12);
}

.footer-left,
.footer-center,
.footer-right {
  width: 33.3%;
  box-sizing: border-box;
}

.footer-top {
  width: 100%;
}

.footer-bottom {
  width: 100%;
  padding: 0 0 20px 0;
}

.footer-left p,
.footer-left a,
.footer-center p,
.footer-center a,
.footer-bottom p {
  margin: 5px 0;
  font-family: 'Calibri', serif;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
}

.footer-left p1,
.footer-top p1,
.footer-center p1 {
  margin: 5px 0;
  font-family: 'Playfair Display', serif;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2;
}

.footer-logo {
  width: 80px;
  height: auto;
  margin-left: auto;
  display: block;
}

.linkedin-icon img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.footer-center a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: text-decoration 0.3s ease;
  text-align: center;
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-bottom {
  padding: 40px 0 20px 0;
  text-align: center;
}
  


