.title {
    background-image: url(Images/Tower-of-London-Wall-920.jpg);
    color: white;
    background-color: (0, 0, 0, 0.4) ;
    display: flex;
    padding-top: 180px;
    flex-direction: column;
    
}