/* Navigation Bar */
.header {
    display: flex;
    padding: 2px;
    padding-right: 16px;
    justify-content: space-between;
    background-color: black;

}
.testimonials{
    display: flex;
    flex-direction: column;
}
.right-links,
.left-links {
    display: flex;
    gap: 12px;
    list-style: none;
}

.header_buttons {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Calibri', serif;
    transition: color 0.3s; /* Smooth transition effect */
}

.header img {
    width: 250px;
  }
.header_buttons:hover {
    color: rgb(187, 159, 90);
}

.title {
    background-image: url(Photos/London\ Skyline\ 5.jpg);
    color: white;
    display: flex;
    padding-top: 250px;
    padding-bottom: 150px;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #464646;
    background-attachment: fixed;
    z-index: -2;
}
.title h1 {
    width: 45%;
    font-family: 'Playfair Display', serif;
    text-align: left;
    position: relative;
    z-index: 2;
    padding-right: 50%;
    padding-left: 100px;
    margin: 0 auto 20px;
    font-weight: bold;
    font-size: 65px;
    color: #ffffff;
  }
  
  .title h1::after {
    content: '';
    display: block;
    width: 25%;
    height: 2px;
    background-color: rgb(200, 200, 200);
    margin: 30px 0;
  }
.title h2 {
    width: 75%;
    font-family: 'Playfair Display', serif;
    text-align: left;
    position: relative;
    z-index: 2;
    padding-right: 50%;
    padding-left: 100px;
    margin: 0 auto 20px;
    font-weight: bold;
    font-size: 35px;
    color: rgb(187, 159, 90);
}
.background {
    background-color: rgb(0,0,0,0.4);
    padding: 16px;
}

.client_value {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

.client_value li{
    flex: 1 0 40%; 
    margin: 10px;
    padding: 15px;
    border: solid;
    background-color: white; 
    transition: background-color 0.5s ease; /* Smooth transition on hover */
}

.client_value li:hover {
        background-color: #2975ab73; 
}

.client_value li:nth-child(even) {
    text-align: right;
}
/* CSS */


.card,
.test_card {
    padding: 16px;
}

.card_title,
.card_content {
    padding: 8px;
}
.test_card {
    color: #2d7cb8;
    line-height: 1.8;
    font-family: "FFMetaSerif", Garamond, serif;
    font-size: 1.3em;
    font-weight: 800;
    background: url(../Images/quote_mark.png) no-repeat;
    padding: 0 0 0 40px;
    margin: 2em 0;
    border: none;
}

.test_card cite {
    display: block;
    font-size: 1rem;
    color: #555555;
}
.test_card cite:before {
    content: "\2014 \0020";
}
cite {
    font-style: italic;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    text-align: left;
    padding-right: 300px;
    padding-left: 25px;
}

.subheading {
    font-size:34px; 
    font-weight:500; 
    text-transform:uppercase;
}

.subheading::before {
    background-color: #2d7cb8;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 42px;
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(187, 159, 90);
}

h2,
.slide-content {
    font-size: 24px;
    font-weight: lighter;
    color: rgb(187, 159, 90);
}

.contact h2 { 
    text-align: center;
    padding: 20px
}

.slideshow-container {
    overflow: hidden;
    position: relative;
    width: 600px; 
    height: 400px; 
  }
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}
.slide {
    flex: 0 0 600px;
    height: 100%;
  }
  .photo-slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
  }
  .photo-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  .slide:hover .slide-content {
    opacity: 1;
    visibility: visible;
  }
  .contact-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }