.header {
    display: flex;
    padding: 2px;
    padding-right: 16px;
    justify-content: space-between;
    background-color: black;

}
.right-links,
.left-links {
    display: flex;
    gap: 12px;
    list-style: none;
}

.header_buttons {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Calibri', serif;
    transition: color 0.3s; /* Smooth transition effect */
}

.header_buttons:hover {
    color: rgb(187, 159, 90);
}
.title {
    background-image: url(Photos/London\ Skyline\ 5.jpg);
    color: white;
    display: flex;
    padding-top: 250px;
    padding-bottom: 150px;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #464646;
    background-attachment: fixed;
}
.background {
    background-color: rgb(0,0,0,0.4);
    padding: 16px;
}

/* CSS */
.contact {
  background-color: #fbf7c2;
  border-radius: 100px;
  box-shadow: rgba(187, 180, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 180, 44, 0.2) 0 1px 2px,rgba(187, 180, 44, 0.2) 0 2px 4px,rgba(187, 180, 44, 0.2) 0 4px 8px,rgba(187, 180, 44, 0.2) 0 8px 16px,rgba(187, 180, 44, 0.2) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contact:hover {
  box-shadow: rgba(187, 170, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 170, 44, 0.35) 0 1px 2px,rgba(187, 170, 44, 0.35) 0 2px 4px,rgba(187, 170, 44, 0.35) 0 4px 8px,rgba(187, 170, 44, 0.35) 0 8px 16px,rgba(187, 170, 44, 0.35) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.card {
    padding: 16px;
}

.card_title,
.card_content {
    padding: 8px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    text-align: left;
    padding-right: 300px;
    padding-left: 50px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(187, 159, 90);
}

h2,
.card_title {
    font-size: 24px;
    font-weight: lighter;
    color: rgb(187, 159, 90);
}